<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            
            <h2>Productos</h2>
            <% if(chats.length > 0) { %>

                    <% chats.forEach((message)=> { %>
                        <div class="m-1" style="background: #ccc; padding: 10px; display: flex; align-content: center;">   
                            <p ><strong style="color: blue"><%= message.email %></strong> <em style="color: red"><%= message.timestamp.toLocaleString('en-US', { year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit',
                                timeZone: 'UTC' }) %>: </em><i style="color: green">"<%= message.body %>"</i></p>
                        </div>
                    <% }); %>
                
            <div>
                <button class="btn btn-primary"><a href="/chat" style="color: black; text-decoration: none;">Return to chat</a></button>
            </div>
            <% } else { %>
                <h3></h3>
                <button class="btn btn-primary"><a href="/chat" style="color: black; text-decoration: none;">Return to chat</a></button>
            <% } %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>